html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans";
  background-color: #E5E5E5;
  margin: 100px;
  padding: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  width: 1280px;
  height: 474px;
  background-color: #fff;
}
.header__top {
  height: 32px;
  background-color: #FAFBFC;
  border-bottom: 1px solid #ECEFF1;
}
.header__top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  font-size: 12px;
  color: #708598;
}
.header__location {
  line-height: 20px;
  color: #708598;
}

.main-nav {
  display: flex;
  margin: 0;
}
.main-nav__item {
  list-style: none;
  margin-left: 24px;
}
.main-nav__item__link {
  color: #708598;
}
.main-nav__item__link:hover {
  color: black;
  transition: 0.2s;
}

.logo__img {
  width: 221px;
  height: 48px;
}

.svg-wrapper {
  position: relative;
  display: inline;
}

.svg-wrapper::after {
  position: absolute;
  content: "";
  top: -2px;
  left: 11px;
  width: 5px;
  height: 5px;
  background-color: red;
  border: 3px solid white;
  border-radius: 50%;
}

.btn-list {
  display: flex;
  align-items: center;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}