* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans';
    background-color: #E5E5E5;
    margin: 100px;
    padding: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.header {
    width: 1280px;
    height: 474px;
    background-color: #fff;

    &__top {
        height: 32px;
        background-color: #FAFBFC;;
        border-bottom: 1px solid #ECEFF1;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 7px;
            font-size: 12px;
            color: #708598;
        }
    }

    &__location {
        line-height: 20px;
        color: #708598;
    }
}

.main-nav {
    display: flex;
    margin: 0;

    &__item {
        list-style: none;
        margin-left: 24px;

        &__link {
            color: #708598;;
        }
        &__link:hover {
            color: black;
            transition: 0.2s;
        }
    }
}

