html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
button {
    outline: none;
}
body {
    font-family: 'Open Sans';
    background-color: #E5E5E5;
    margin: 100px;
    padding: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.header {
    width: 1280px;
    height: 474px;
    background-color: #fff;

    &__top {
        height: 32px;
        background-color: #FAFBFC;;
        border-bottom: 1px solid #ECEFF1;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 7px;
            font-size: 12px;
            color: #708598;
        }
    }

    &__location {
        line-height: 20px;
        color: #708598;
    }

    &__bottom {
        border-bottom: 1px solid #ECEFF1;

        &__wrapper {
            height: 76px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            }
    }
    
}

.main-nav {
    display: flex;
    margin: 0;

    &__item {
        list-style: none;
        margin-left: 24px;

        &__link {
            color: #708598;;
        }

        &__link:hover {
            color: black;
            transition: 0.2s;
        }
    }
}
.logo__img {
    width: 221px;
    height: 48px;
}
.btn-katalog {
    width: 116px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #FED83D;
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    color: #050F19;

    &:hover {
        background-color: #fdcb00;
    }
}
.input-form {
    position: relative;
}
.search {
    width: 526px;
    height: 40px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #ECEFF1;
    outline: none;
}
.input-form::after {
    position: absolute;
    background-image: url("../images/svg.png");
    content: "";
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}
.btn-spisok {
    width: 111px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ECEFF1;
    background-color: #FAFBFC;

    &:hover {
        background-color: #f1f1f1;
    }
}
.svg-wrapper {
    position: relative;
    display: inline;
}
.svg-wrapper::after {
    position: absolute;
    content: "";
    top: -1px;
    left: 11px;
    width: 4px;
    height: 4px;
    background-color: red;
    border: 3px solid #FAFBFC;
    border-radius: 50%;
}
.btn-spisok {
    display: flex;
    align-items: center;
}
.btn-user {
    border: none;
    background: transparent;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
